In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.2-cp39-cp39-macosx_10_9_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 2.9 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.1.9/libexec/lib/python3.9/site-packages (from pandas) (2021.1)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.2-cp39-cp39-macosx_10_9_x86_64.whl (17.0 MB)
     |████████████████████████████████| 17.0 MB 3.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.1.9/libexec/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/3.1.9/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.2 pandas-1.3.2
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.1.9/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data/actos_vacunales.csv", sep=";")

In [5]:
df.columns

Index(['Fecha', 'Total Dosis 1', 'Total Dosis 2', 'Total Dosis R',
       '1era Dosis Sinovac', '2da Dosis Sinovac', 'Refuerzo Dosis Sinovac',
       '1era Dosis Pfizer', '2da Dosis Pfizer', 'Refuerzo Dosis Pfizer',
       '1era Dosis Astrazeneca', '2da Dosis Astrazeneca',
       'Refuerzo Dosis Astrazeneca', 'Montevideo Dosis 1',
       'Montevideo Dosis 2', 'Montevideo Dosis R', 'Artigas Dosis 1',
       'Artigas Dosis 2', 'Artigas Dosis R', 'Canelones Dosis 1',
       'Canelones Dosis 2', 'Canelones Dosis R', 'Cerro Largo Dosis 1',
       'Cerro Largo Dosis 2', 'Cerro Largo Dosis R', 'Colonia Dosis 1',
       'Colonia Dosis 2', 'Colonia Dosis R', 'Durazno Dosis 1',
       'Durazno Dosis 2', 'Durazno Dosis R', 'Flores Dosis 1',
       'Flores Dosis 2', 'Flores Dosis R', 'Florida Dosis 1',
       'Florida Dosis 2', 'Florida Dosis R', 'Lavalleja Dosis 1',
       'Lavalleja Dosis 2', 'Lavalleja Dosis R', 'Maldonado Dosis 1',
       'Maldonado Dosis 2', 'Maldonado Dosis R', 'Paysandú Dosis 1',
       'Paysandú Dosis 2', 'Paysandú Dosis R', 'Río Negro Dosis 1',
       'Río Negro Dosis 2', 'Río Negro Dosis R', 'Rivera Dosis 1',
       'Rivera Dosis 2', 'Rivera Dosis R', 'Rocha Dosis 1', 'Rocha Dosis 2',
       'Rocha Dosis R', 'Salto Dosis 1', 'Salto Dosis 2', 'Salto Dosis R',
       'San José Dosis 1', 'San José Dosis 2', 'San José Dosis R',
       'Soriano Dosis 1', 'Soriano Dosis 2', 'Soriano Dosis R',
       'Tacuarembó Dosis 1', 'Tacuarembó Dosis 2', 'Tacuarembó Dosis R',
       'Treinta y Tres Dosis 1', 'Treinta y Tres Dosis 2',
       'Treinta y Tres Dosis R', 'Departamento Sin Datos',
       'Rango 12-14 Dosis 1', 'Rango 12-14 Dosis 2', 'Rango 12-14 Dosis R',
       'Rango 15-19 Dosis 1', 'Rango 15-19 Dosis 2', 'Rango 15-19 Dosis R',
       'Rango 20-24 Dosis 1', 'Rango 20-24 Dosis 2', 'Rango 20-24 Dosis R',
       'Rango 25-34 Dosis 1', 'Rango 25-34 Dosis 2', 'Rango 25-34 Dosis R',
       'Rango 35-44 Dosis 1', 'Rango 35-44 Dosis 2', 'Rango 35-44 Dosis R',
       'Rango 45-54 Dosis 1', 'Rango 45-54 Dosis 2', 'Rango 45-54 Dosis R',
       'Rango 55-64 Dosis 1', 'Rango 55-64 Dosis 2', 'Rango 55-64 Dosis R',
       'Rango 65-74 Dosis 1', 'Rango 65-74 Dosis 2', 'Rango 65-74 Dosis R',
       'Rango Mayor 75 Dosis 1', 'Rango Mayor 75 Dosis 2',
       'Rango Mayor 75 Dosis R', 'Rango Sin Datos'],
      dtype='object')

In [6]:
df[["Fecha", "Montevideo Dosis 1", "Montevideo Dosis 2", "Montevideo Dosis R", "Rango 45-54 Dosis 1"]].head()

,Fecha,Montevideo Dosis 1,Montevideo Dosis 2,Montevideo Dosis R,Rango 45-54 Dosis 1
0,01/09/2021,429,1761,14274,472
1,31/08/2021,538,2700,17919,555
2,30/08/2021,681,2497,18894,742
3,29/08/2021,1,2,104,0
4,28/08/2021,49,1591,2408,33