# Pandas Ultra Quick Tutorial
[REF](https://colab.research.google.com/github/google/eng-edu/blob/main/ml/cc/exercises/pandas_dataframe_ultraquick_tutorial.ipynb?utm_source=mlcc&utm_campaign=colab-external&utm_medium=referral&utm_content=pandas_tf2-colab&hl=en)

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])
columns = ["temperature", "activity"]
df = pd.DataFrame(data=data,columns=columns)
df.head()

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [3]:
df["adjusted"] = df["activity"] + 2
df.head()

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [4]:
df.head(3)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

In [5]:
df.iloc[2]

temperature    20
activity        9
adjusted       11
Name: 2, dtype: int64

In [6]:
df[1:3]

   temperature  activity  adjusted
1           10         7         9
2           20         9        11

In [7]:
df["temperature"]

0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

In [13]:
data = np.random.randint(low=0,high=101,size=[3,4])
columns = ["Eleanor", "Chidi", "Tahani", "Jason"]
df = pd.DataFrame(data=data, columns=columns)
df

   Eleanor  Chidi  Tahani  Jason
0       15     65      11     17
1       98      7      45     12
2       19     91       5     77

In [14]:
df["Eleanor"][1]

98

In [20]:
df["Janet"] = df["Tahani"] + df["Jason"]
df.head()

   Eleanor  Chidi  Tahani  Jason  Janet
0       15     65      11     17     28
1       98      7      45     12     57
2       19     91       5     77     82

In [36]:
# References
ref_df = df
print("DataFrame Reference")
print("--- df starting value: %s" % df["Jason"][2])
print("--- ref_df starting value: %s" % ref_df["Jason"][2])

df.at[2, "Jason"] = df["Jason"][2] + 3

print("--- df updated: %s" % df["Jason"][2])
print("--- ref_df unwanted mutation: %s" % ref_df["Jason"][2])

DataFrame Reference
--- df starting value: 110
--- ref_df starting value: 110
--- df updated: 113
--- ref_df unwanted mutation: 113

In [37]:
df_copy = pd.DataFrame.copy(df)
df_other_copy = df.copy()

print("Dataframe Copy")
print("--- df starting value: %s" % df["Jason"][2])
print("--- df_copy starting value: %s" % df_copy["Jason"][2])
print("--- df_other_copy starting value: %s" % df_other_copy["Jason"][2])

df.at[2, "Jason"] = df["Jason"][2] + 3

print("--- df updated: %s" % df["Jason"][2])
print("--- df_copy: %s" % df_copy["Jason"][2])
print("--- df_other_copy: %s" % df_other_copy["Jason"][2])

Dataframe Copy
--- df starting value: 113
--- df_copy starting value: 113
--- df_other_copy starting value: 113
--- df updated: 116
--- df_copy: 113
--- df_other_copy: 113